.game__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.game__title {
    font-size: 24px;
}

.game__back, .game__button, .game__randomize {
    border: 1px solid;
    width: 130px;
    text-align: center;
    cursor: pointer;
    margin: auto 5px;
}

.game__back:hover, .game__button:hover, .game__randomize:hover {
    background-color: #DDD;
}

.game__controls {
    display: flex;
    flex-direction: row-reverse;
}

.game-field {
    text-align: center;
}

.game-table {
    display: inline-block;
}

.game-table__row {
    display: flex;
    white-space: nowrap;
}

.game-table__item {
    width: 10px;
    height: 10px;
    background-color: #dddddd;
    display: inline-block;
    cursor: pointer;
}

.game-table__item:hover {
    background-color: #aaa;
}

.game-table__item.selected {
    background-color: #000;
}

.svg-canvas__item {
    fill: #dddddd;
    cursor: pointer;
}

.svg-canvas__item:hover {
    fill: #aaa;
}

.svg-canvas__item.selected {
    fill: #000;
}
