.new-game__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px
}

.new-game__back {
    border: 1px solid;
    width: 130px;
    text-align: center;
    cursor: pointer;
    margin: auto 5px;
}

.new-game__back:hover {
    background-color: #DDD;
}

.new-game__title {
    font-size: 24px;
}

.new-game__start {
    border: 1px solid;
    width: 130px;
    text-align: center;
    cursor: pointer;
    margin: auto 5px;
}

.new-game__start:hover {
    background-color: #DDD;
}

.new-game__content {
    display: flex;
    flex-direction: column;
}

.new-game__input-label {
    margin: 12px auto 12px 0;
}

.new-game__input-label > input {
    margin-left: 10px;
}
