.main-menu__container {
    display: flex;
    flex-direction: column;
}

.main-menu__logo {
    font-size: 24px;
    margin: 12px auto;
}

.main-menu__item {
    margin: 10px auto;
    border: 1px solid;
    width: 130px;
    text-align: center;
    cursor: pointer;
}

.main-menu__item:hover {
    background-color: #DDD;
}
