.options__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.options__back {
    border: 1px solid;
    width: 130px;
    text-align: center;
    cursor: pointer;
    margin: auto 5px;
}

.options__back:hover {
    background-color: #DDD;
}

.options__title {
    font-size: 24px;
}

.options__save {
    border: 1px solid;
    width: 130px;
    text-align: center;
    cursor: pointer;
    margin: auto 5px;
}

.options__save:hover {
    background-color: #DDD;
}

.options__content {
    display: flex;
    flex-direction: column;
}

.options__input-label {
    margin: 12px auto 12px 0;
}

.options__input-label > input {
    margin-left: 10px;
}
